<div class="row animated fadeInLeft">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Detalles de Nuevo Prestamo</h4>
            </div>
            <div class="card-body">
                <form class="form p-t-20" [formGroup]="prestamoForm" (submit)="crearNuevoPrestamo()">

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Monto de prestamo</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-money"></i></div>
                                    <input type="text" class="form-control" id="montoP" placeholder="########" autocomplete="off" formControlName="monto" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Modelo que recibe</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-face-smile"></i></div>
                                    <select class="form-control custom-select" id="model" formControlName="modelo" required>
                                        <option value="">--Seleccione Modelo--</option>
                                        <option *ngFor="let modelo of modelosList" [value]="modelo._id">{{modelo.nombres}} {{modelo.apellidos}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Observación</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-comment"></i></div>
                                    <input type="text" class="form-control" id="observaciones" autocomplete="off" formControlName="observaciones" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Usuario que crea</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input type="text" class="form-control" id="usuario" autocomplete="off" formControlName="usuarioNombre" [readOnly]="true">
                                </div>
                            </div>
                        </div>
                    </div>

                    &nbsp;
                    <div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i>  Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>