<div id="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Start Page Content -->
            <app-breadcrums></app-breadcrums>

            <!-- Mi sistema de rutas-->
            <router-outlet></router-outlet>

            <!-- Start Page Content -->
            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- footer -->
        <footer class="footer">
            © 2020 AdminProWC by SB - VISUAL ENGINEERING SOLUTIONS SAS
        </footer>
        <!-- End footer -->
    </div>

</div>

<app-modal-imagen></app-modal-imagen>
<app-modal-imagen-large></app-modal-imagen-large>