<div class="row animated fadeInLeft">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Información Personal {{labelTitle}} {{tipoEmpleCrear}}</h4>
            </div>
            <div class="card-body">
                <form class="form p-t-20" [formGroup]="empleadoWCForm" (submit)="crearNuevoEmpleado()">

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Documento</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-quote-right"></i></div>
                                    <input type="text" class="form-control" id="document" placeholder="########" autocomplete="off" formControlName="documento" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Tipo Documento</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-layout-menu-v"></i></div>
                                    <select class="form-control custom-select" id="docType" formControlName="tipoDocumento" required>
                                            <option value="">--Seleccione una opción--</option>
                                            <option value="C.C.">Cédula de Ciudadanía</option>
                                            <option value="C.E.">Cédula de Extranjería</option>
                                            <option value="PAS">Pasaporte</option>
                                            <option value="DIE">Documento de Identificación Extranjero</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Nombres</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input type="text" class="form-control form-control-danger" id="names" formControlName="nombres" placeholder="Juanita" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Apellidos</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input type="text" class="form-control form-control-danger" id="lastnames" formControlName="apellidos" placeholder="Perez Perez" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Nacionalidad</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    <select class="form-control custom-select" formControlName="nacionalidad" required>
                                        <option value="null">--Seleccione una opción--</option>
                                        <option *ngFor="let pais of paisesList" [value]="pais._id">{{pais.countryCode}} - {{pais.countryName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Fecha Nacimiento</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-calendar"></i></div>
                                    <input type="date" id="birth" class="form-control" formControlName="fechaNac" placeholder="dd/mm/yyyy" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Correo Electrónico</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-email"></i></div>
                                    <input type="text" id="email" class="form-control" formControlName="emailCorporativo" placeholder="test@test.com" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Telefóno Célular</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-mobile"></i></div>
                                    <input type="text" id="cellPhone" class="form-control" formControlName="telCelular" placeholder="###-#######" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Dirección Residencia</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-world"></i></div>
                                    <input type="text" id="address" class="form-control" formControlName="direccion" placeholder="Cra. 1 # 1-1" autocomplete="off" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Ciudad de Residencia</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    <select class="form-control custom-select" formControlName="ciudadResidencia" required>
                                        <option value="null">--Seleccione una opción--</option>
                                        <option *ngFor="let ciudad of ciudadesList" [value]="ciudad._id">{{ciudad.ciudadName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">RH Sanguineo</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    <select class="form-control custom-select" formControlName="rh" required>
                                        <option value="">--Seleccione una opción--</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB-">AB-</option>
                                        <option value="AB+">AB+</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Genero</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    <select class="form-control custom-select" formControlName="genero" required>
                                        <option value="">--Seleccione una opción--</option>
                                        <option value="FEMENINO">Femenino</option>
                                        <option value="MASCULINO">Masculino</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Contacto Emergencia</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-id-badge"></i></div>
                                    <input type="text" id="emergencyContact" class="form-control" formControlName="nomContEmer" placeholder="Carlota Perez Perez" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Telefóno Emergencia</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-bell"></i></div>
                                    <input type="number" id="emergencyPhone" class="form-control" formControlName="telContEmer" placeholder="###-#######" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Fecha Ingreso</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-calendar"></i></div>
                                    <input type="date" id="inputJob" class="form-control" formControlName="fechaIngreso" placeholder="dd/mm/yyyy" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Número de Hijos</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-face-smile"></i></div>
                                    <input type="number" id="numberChildren" class="form-control" formControlName="numHijos" placeholder="#" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Entidad Bancaria para pagos</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-stats-up"></i></div>
                                    <select formControlName="entidadBanco" class="form-control custom-select" required>
                                        <option value="">--Seleccione una opción--</option>
                                        <option value="Bancamia S.A.">Bancamia S.A.</option>
                                        <option value="Banco Agrario">Banco Agrario</option>
                                        <option value="Banco AV Villas">Banco AV Villas</option>
                                        <option value="Banco BBVA Colombia">Banco BBVA Colombia</option>
                                        <option value="Banco Caja Social">Banco Caja Social</option>
                                        <option value="Banco Davivienda">Banco Davivienda</option>
                                        <option value="Banco de Bogotá">Banco de Bogotá</option>
                                        <option value="Banco de Occidente">Banco de Occidente</option>
                                        <option value="Banco Falabella">Banco Falabella</option>
                                        <option value="Banco GNB Sudameris">Banco GNB Sudameris</option>
                                        <option value="Bancolombia">Bancolombia</option>
                                        <option value="Banco Scotiabank Colpatria">Banco Scotiabank Colpatria</option>
                                        <option value="Banco Popular">Banco Popular</option>
                                        <option value="Banco ITAU">Banco ITAU</option>
                                        <option value="Banco Pichincha S.A.">Banco Pichincha S.A.</option>
                                        <option value="Banco Serfinanza">Banco Serfinanza</option>
                                        <option value="DaviPlata">DaviPlata</option>
                                        <option value="Nequi-Bancolombia">Nequi-Bancolombia</option>
                                        <option value="Super Giros">Super Giros</option>
                                        <option value="Movii S.A.">Movii S.A.</option>
                                        <option value="RappiPay">RappiPay</option>
                                        <option value="Efectivo">Efectivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Cuenta Bancaria para pagos</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="
                                        ti-money "></i></div>
                                    <input type="text" id="bankAccount" class="form-control" formControlName="numCuentaBanco" placeholder="#-######-#" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">EPS / IPS</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    <select class="form-control custom-select" formControlName="epsSalud" required>
                                        <option value="">--Seleccione una opción--</option>
                                        <option value="Compensar E.P.S.">Compensar E.P.S.</option>
                                        <option value="E.P.S. Sanitas S.A.">E.P.S. Sanitas S.A.</option>
                                        <option value="E.P.S. Famisanar LTDA.">E.P.S. Famisanar LTDA.</option>
                                        <option value="E.P.S. Saludcoop">E.P.S. Saludcoop</option>
                                        <option value="Cruz Blanca EPS S.A.">Cruz Blanca EPS S.A.</option>
                                        <option value="Salud Colpatria E.P.S.">Salud Colpatria E.P.S.</option>
                                        <option value="Coomeva E.P.S. S.A.">Coomeva E.P.S. S.A.</option>
                                        <option value="Humana Vivir S.A. E.P.S. ">Humana Vivir S.A. E.P.S.</option>
                                        <option value="Salud Colmena E.P.S. S.A.">Salud Colmena E.P.S. S.A.</option>
                                        <option value="Salud Total S.A. E.P.S.">Salud Total S.A. E.P.S.</option>
                                        <option value="Cafesalud E.P.S. S.A.">Cafesalud E.P.S. S.A.</option>
                                        <option value="Instituto de Seguros Sociales EPS">Instituto de Seguros Sociales EPS</option>
                                        <option value="Unimec E.P.S. S.A.">Unimec E.P.S. S.A.</option>
                                        <option value="EPS Progr. Comfenalco Antioquia">EPS Progr. Comfenalco Antioquia</option>
                                        <option value="SuSalud EPS ">SuSalud EPS</option>
                                        <option value="Colseguros E.P.S.">Colseguros E.P.S.</option>
                                        <option value="Comfenalco Valle E.P.S.">Comfenalco Valle E.P.S.</option>
                                        <option value="Caprecom EPS">Caprecom EPS</option>
                                        <option value="EPS CONVIDA">EPS CONVIDA</option>
                                        <option value="CAJANAL EPS">CAJANAL EPS</option>
                                        <option value="CAPRESOCA EPS">CAPRESOCA EPS</option>
                                        <option value="SOLSALUD E.P.S. S.A.">SOLSALUD E.P.S. S.A.</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label label-form-decora">ARL</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    <select class="form-control custom-select" formControlName="arlTrabajo" required>
                                        <option value="">--Seleccione una opción--</option>
                                        <option value="ARL Sura.">ARL Sura.</option>
                                        <option value="ARL Positiva.">ARL Positiva.</option>
                                        <option value="ARL Axa Colpatria.">ARL Axa Colpatria.</option>
                                        <option value="ARL Colmena.">ARL Colmena.</option>
                                        <option value="ARL Bolívar.">ARL Bolívar.</option>
                                        <option value="ARL La Equidad">ARL La Equidad</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i>  Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>