<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align:left">
                                <button [routerLink]="['/dashboard/nuevoServLavan']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                                <i class="fa fa-shower "></i> Crear Nuevo Servicio </button>
                            </td>
                            <td style="text-align:right">
                                <h6>Servicios de lavanderia registrados (<small>{{ totalServicios }}</small>)</h6>
                            </td>
                        </tr>
                    </table>
                </div>
                &nbsp;
                <div class="table-responsive">
                    <table class="table table-bordered color-bordered-table inverse-bordered-table">
                        <thead>
                            <tr>
                                <th class="w50"></th>
                                <th class="text-center">Detalles</th>
                                <th class="text-center">Sede</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center"># Prendas</th>
                                <th class="text-center">Fecha Salida</th>
                                <th class="text-center">Fecha Recepción</th>
                                <th class="text-center">Recibido OK</th>
                                <th class="text-center">Fecha Registro</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let servLava of servLavanderias">
                                <td class="text-center">
                                    <img [src]="servLava.imagenUrl" class="avatar-w40 cursor" alt="Listado de modelos" (click)="abrilModalImagenLarge( servLava )">
                                </td>
                                <td><small><a href="" (click)="verDetallesServLavan(servLava)" data-toggle="modal" data-target="#datosServLavanModal">Ver más...</a></small></td>
                                <td class="text-center text-uppercase font-weight-bold">{{servLava.sede.nombre}}</td>
                                <td class="text-center">
                                    <span *ngIf="servLava.estado === 'EN LA LAVANDERIA'" class="label label-info">{{servLava.estado}}</span>
                                    <span *ngIf="servLava.estado === 'ENTREGADO EN LA SEDE'" class="label label-success">{{servLava.estado}}</span>
                                </td>
                                <td class="text-center font-weight-bold text-primary">{{servLava.cantidadColchas}}</td>
                                <td class="text-center"><small>{{servLava.fechaSalidaColchas | date}}</small></td>
                                <td class="text-center"><small>{{servLava.fechaRecibeColchas | date}}</small></td>
                                <td class="text-center">
                                    <small>
                                        <span *ngIf="!servLava.recibeSatisfaccion && servLava.estado === 'EN LA LAVANDERIA'" class="label label-warning">PENDIENTE</span>
                                        <span *ngIf="!servLava.recibeSatisfaccion && servLava.estado === 'ENTREGADO EN LA SEDE'" class="label label-danger">NO</span>
                                        <span *ngIf="servLava.recibeSatisfaccion && servLava.estado === 'ENTREGADO EN LA SEDE'" class="label label-success">SI</span>
                                    </small>
                                </td>
                                <td class="text-center"><small>{{servLava.fechaRegistro | date}}</small></td>
                                <td class="text-nowrap text-center">
                                    <a class="cursor" title="Actualizar Estado de la Transacción" data-toggle="tooltip" data-original-title="Actualizar Estado de la Transacción" (click)="actualizarEstadoServLavan(servLava)">
                                        <i class="fa fa-reply text-inverse m-r-10"></i>
                                    </a>
                                    &nbsp; &nbsp;
                                    <a class="cursor" title="Eliminar Transacción" data-toggle="tooltip" data-original-title="Eliminar Transacción del sistema" (click)="eliminarServLavan(servLava)">
                                        <i class="fa fa-trash-o text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center" *ngIf="mostrarBotones">
                    <button (click)="cambiarPagina(-25)" class="btn btn-secondary">
                        <i class="fa fa-backward"></i>&nbsp;
                        Anteriores
                    </button> &nbsp; &nbsp; &nbsp;

                    <button (click)="cambiarPagina(25)" class="btn btn-secondary">
                        Siguientes &nbsp;
                        <i class="fa fa-forward"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="datosServLavanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel4">Información detallada del servicio de lavanderia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <th>
                        <tr>ID de transacción:</tr>
                        <tr>Usuario que registro:</tr>
                    </th>
                    <th>
                        <tr style="color:#346420; font-size:13">{{servLavDetalle._id}}</tr>
                        <tr style="color:cadetblue; font-size:13">{{servLavDetalle.usuarioRegistro.nombre}}</tr>
                    </th>
                </table>
                <div class="div-border-decorator">
                    <p class="font-weight-bold" style="color:rgb(100, 17, 233); font-size:13"><b>Observaciones cuando salieron las prendas:</b></p>
                    <p style="color:rgb(230, 19, 100); font-size:13">
                        {{ servLavDetalle.obsSalidaColchas}}
                    </p>
                </div>
                <table class="table">
                    <th>
                        <tr>Usuario que recibio:</tr>
                    </th>
                    <th>
                        <tr style="color:cadetblue; font-size:13">{{servLavDetalle.usuarioRecibeColchas.nombre}}</tr>
                    </th>
                </table>
                <div class="div-border-decorator">
                    <p class="font-weight-bold" style="color:rgb(19, 114, 7); font-size:13"><b>Observaciones cuando recibieron las prendas:</b></p>
                    <p style="color:rgb(230, 86, 19); font-size:13">
                        {{ servLavDetalle.obsRecibeColchas}}
                    </p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>