<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar aspirante por nombre..." #txtTermino (keyup)="buscarAspirantesTermino(txtTermino.value)" />
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align:left">
                                <button [routerLink]="['/dashboard/nuevoAspirante']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                                <i class="fa fa-user-plus"></i> Crear Aspirante </button>
                            </td>
                            <td style="text-align:right">
                                <h6>Aspirante registrados (<small>{{ totalAspirantes }}</small>)</h6>
                            </td>
                        </tr>
                    </table>
                </div>
                &nbsp;
                <div class="table-responsive">
                    <table class="table table-bordered color-bordered-table inverse-bordered-table">
                        <thead>
                            <tr>
                                <th>Documento</th>
                                <th>Nombres y Apellidos</th>
                                <th class="text-center">Edad</th>
                                <th class="text-center">Correo Electrónico</th>
                                <th class="text-center">Tel. Celular</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Experiencia</th>
                                <th class="text-center">Cargo al que aspira</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aspirante of aspirantes">
                                <td><small>{{aspirante.documento}}</small></td>
                                <td><small><a href="" (click)="verDetallesAspirante(aspirante)" data-toggle="modal" data-target="#datosAspiranteModal">{{aspirante.nombApellAspConcat}}</a></small></td>
                                <td class="text-center"><small>{{aspirante.edad}}</small></td>
                                <td class="text-center"><small>{{aspirante.email}}</small></td>
                                <td class="text-center"><small>{{aspirante.numCelular}}</small></td>
                                <td class="text-center"><small>{{aspirante.estado}}</small></td>
                                <td class="text-center">
                                    <span *ngIf="aspirante.experienciaPrevia" class="label label-success">SI</span>
                                    <span *ngIf="!aspirante.experienciaPrevia" class="label label-warning">NO</span>
                                </td>
                                <td class="text-center"><small>{{aspirante.cargoAspirante.cargoDesc}}</small></td>
                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/uploadDocsApirante', aspirante._id]" title="Cargar Documentos de la Aspirante" data-toggle="tooltip" data-original-title="Cargar Documentos de la Aspirante">
                                        <i class="fa fa-upload text-inverse m-r-10"></i>
                                    </a>
                                    &nbsp;
                                    <a class="cursor" title="Cambiar Estado de la Aspirante" data-toggle="tooltip" data-original-title="Cambiar Estado de la aspirante" (click)="cambiarEstadoAspirante(aspirante)">
                                        <i class="fa fa-comments text-inverse m-r-10"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center" *ngIf="mostrarBotones">
                    <button (click)="cambiarPagina(-10)" class="btn btn-secondary">
                        <i class="fa fa-backward"></i>&nbsp;
                        Anteriores
                    </button> &nbsp; &nbsp; &nbsp;

                    <button (click)="cambiarPagina(10)" class="btn btn-secondary">
                        Siguientes &nbsp;
                        <i class="fa fa-forward"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="datosAspiranteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Información adicional del aspirante</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="table responsive">
                    <table class="table table-bordered table-decorator-modal">
                        <th>
                            <tr class="tabl-decorator-modal">ID Interno</tr>
                            <tr>Fecha Registro</tr>
                            <tr>Dirección</tr>
                            <tr>Localidad</tr>
                            <tr>Usuario que registro</tr>
                            <tr>Fecha de entrevista</tr>
                        </th>

                        <th>
                            <tr style="color:#346420; font-size:13">{{ aspiranteWCDetalle._id}}</tr>
                            <tr style="color:cadetblue; font-size:13">{{ aspiranteWCDetalle.fechaRegistro | date}}</tr>
                            <tr style="color:cadetblue; font-size:13">{{ aspiranteWCDetalle.direccion}}</tr>
                            <tr style="color:cadetblue; font-size:13">{{ aspiranteWCDetalle.localidad.localidadName}}</tr>
                            <tr style="color:cadetblue; font-size:13">{{ aspiranteWCDetalle.usuarioCreacion.nombre}}</tr>
                            <tr style="color:cadetblue; font-size:13">{{ aspiranteWCDetalle.fechaEntrevista | date}}</tr>
                        </th>
                    </table>
                </div>

                <div class="div-border-decorator">
                    <p style="color:rgb(100, 17, 233); font-size:13"><b>Notas de la entrevista:</b></p>
                    <p style="color:rgb(212, 94, 26); font-size:13">
                        {{ aspiranteWCDetalle.notasEntrevistador}}
                    </p>
                </div>

                <br>
                <div class="div-border-decorator" *ngIf="aspiranteWCDetalle.estadoHVCargoPDF || aspiranteWCDetalle.estadoResCargoPDF">
                    <a *ngIf="aspiranteWCDetalle.estadoHVCargoPDF" href="{{aspiranteWCDetalle.rutaCargueComplHVPDF}}" target="_blank">Descargar hoja de vida</a>
                    <br>
                    <a *ngIf="aspiranteWCDetalle.estadoResCargoPDF" href="{{aspiranteWCDetalle.rutaCargueComplResPDF}}" target="_blank">Descargar resultado de prueba psicológica </a>
                </div>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>