<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar usuario..." #txtTermino (keyup)="buscarUsuariosTermino(txtTermino.value)" />
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="col-12">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align:left">
                                <button [routerLink]="['/dashboard/nuevoUsuario']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                                <i class="fa fa-user-plus"></i> Crear Usuario </button>
                            </td>
                            <td style="text-align:right">
                                <h6 class=" text-right card-subtitle">Usuarios Registrado ({{ totalUsuarios }})</h6>
                            </td>
                        </tr>
                    </table>
                </div>
                &nbsp;
                <div class="table-responsive">
                    <table class="table table-bordered color-bordered-table inverse-bordered-table">
                        <thead>
                            <tr>
                                <th class="w50"></th>
                                <th>Correo Electrónico</th>
                                <th>Nombres y Apellidos</th>
                                <th class="text-center">Fecha de Creación</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Rol De usuario</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class="text-center">
                                    <img [src]="usuario.imagenUrl" class="avatar-w40 cursor" alt="Avatar de Usuario" (click)="abrilModalImagen( usuario )">
                                </td>
                                <td><small>{{ usuario.email }}</small></td>
                                <td><small>{{ usuario.nombre }}</small></td>
                                <td class="text-center"><small>{{usuario.fechaCreacion | date}}</small></td>
                                <td class="text-center">
                                    <span *ngIf="usuario.estado === 'CREADO'" class="label label-warning">{{ usuario.estado }}</span>
                                    <span *ngIf="usuario.estado === 'ACTIVO'" class="label label-primary">{{ usuario.estado }}</span>
                                    <span *ngIf="usuario.estado === 'INACTIVO'" class="label label-danger">{{ usuario.estado }}</span>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="usuario.role === 'ADMIN_ROLE'" class="label label-success">{{usuario.role}}</span>
                                    <span *ngIf="usuario.role === 'USER_ROLE'" class="label label-info">{{usuario.role}}</span>
                                </td>
                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/actualizarUsuario', usuario.uid]" title="Actualizar Datos de Usuario" data-toggle="tooltip" data-original-title="Actualizar Datos de Usuario">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>
                                    &nbsp;
                                    <a class="cursor" data-toggle="tooltip" data-original-title="Eliminar" (click)="eliminarUsuario(usuario)">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center" *ngIf="mostrarBotones">
                    <button (click)="cambiarPagina(-8)" class="btn btn-secondary">
                        <i class="fa fa-backward"></i>&nbsp;
                        Anteriores
                    </button> &nbsp; &nbsp; &nbsp;

                    <button (click)="cambiarPagina(8)" class="btn btn-secondary">
                        Siguientes &nbsp;
                        <i class="fa fa-forward"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>