<div class="row animated fadeInLeft">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Datos Generales del Nuevo PQRS o Incidente</h4>
            </div>
            <div class="card-body">
                <form class="form p-t-20" [formGroup]="pqrsForm" (submit)="crearNuevoPQRS()">

                    <div class="row p-t-20">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Prioridad</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    <select class="form-control custom-select" formControlName="prioridad" required>
                                        <option value="">--Seleccione una opción--</option>
                                        <option value="URGENTE">URGENTE</option>
                                        <option value="ALTA">ALTA</option>
                                        <option value="MEDIA">MEDIA</option>
                                        <option value="BAJA">BAJA</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Fecha de Evento</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-calendar"></i></div>
                                    <input type="datetime-local" id="inputJob" class="form-control" formControlName="fechaOcurrencia" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Sede donde ocurrió</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-layout-menu-v"></i></div>
                                    <select class="form-control custom-select" formControlName="sede" required>
                                        <option value="null">--Seleccione una opción--</option>
                                        <option *ngFor="let sede of sedesList" [value]="sede._id">{{sede.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Tipo PQRS</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-layout-menu-v"></i></div>
                                    <select class="form-control custom-select" formControlName="tipo" required>
                                        <option value="null">--Seleccione una opción--</option>
                                        <option *ngFor="let tipo of tipoPQRSList" [value]="tipo.tipoUsuConcat">{{tipo.tipopqrsDesc}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Empleado Asociado:</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-face-smile"></i></div>
                                    <select class="form-control custom-select" id="model" formControlName="empleadoAsociado" required>
                                        <option value="null">--Seleccione una opción--</option>
                                        <option *ngFor="let empleado of empleadosList" [value]="empleado._id">{{empleado.nombApellConca}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label label-form-decora">Detalle de PQRS:</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-comment"></i></div>
                                    <textarea rows="3" class="form-control text-area" formControlName="detallePrimario"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    &nbsp;
                    <div>
                        <button type="submit" class="btn btn-success waves-effect waves-pupple m-r-10" [disabled]="pqrsForm.invalid"><i class="fa fa-save"></i>  Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>