<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align:left">
                                <button [routerLink]="['/dashboard/nuevoRegVacuna']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                                <i class="fa fa-user-plus"></i> Crear Registro 1era Dosis </button>
                            </td>
                            <td style="text-align:right">
                                <h6>Cantidad de registros (<small>{{ totalVacunados }}</small>)</h6>
                            </td>
                        </tr>
                    </table>
                </div>
                &nbsp;
                <div class="table-responsive">
                    <table class="table table-bordered color-bordered-table inverse-bordered-table">
                        <thead>
                            <tr>
                                <th class="w50"></th>
                                <th class="text-center align-th-table">Empleado</th>
                                <th class="text-center">1era Dosis</th>
                                <th class="text-center">2da Dosis</th>
                                <th class="text-center">3era Dosis</th>
                                <th class="text-center">4ta Dosis</th>
                                <th class="text-center">Regulador</th>
                                <th class="text-center">Usuario que registró</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vacunado of vacunados">
                                <td class="text-center">
                                    <img [src]="vacunado.imagenUrl" class="avatar-w40 cursor" alt="Carnet de vacunación" (click)="abrilModalImagenLarge( vacunado )">
                                </td>
                                <td><small>{{vacunado.empleado.documento}} - {{vacunado.empleado.nombApellConca}}</small></td>
                                <td class="text-center">
                                    <small>{{vacunado.farmaPriDosis}} <br> {{vacunado.fechaPriDosis | date}}</small>
                                </td>
                                <td class="text-center">
                                    <small>{{vacunado.farmaSecDosis}} <br> {{vacunado.fechaSecDosis | date}}</small>
                                </td>
                                <td class="text-center">
                                    <small>{{vacunado.farmaTerDosis}} <br> {{vacunado.fechaTerDosis | date}}</small>
                                </td>
                                <td class="text-center">
                                    <small>{{vacunado.farmaCuarDosis}} <br> {{vacunado.fechaCuarDosis | date}}</small>
                                </td>
                                <td class="text-center"><small>{{vacunado.regulador}}</small></td>
                                <td class="text-center"><small>{{vacunado.usuario.nombre}}</small></td>

                                <td class="text-nowrap text-center">
                                    <a class="cursor" title="Agregar detalle de dosis 2,3,4..." data-toggle="tooltip" data-original-title="Agregar detalle de dosis 2,3,4..." (click)="adicionarRegDosis(vacunado)">
                                        <i class="fa fa-plus-circle text-inverse m-r-10"></i>
                                    </a>
                                    &nbsp;
                                    <a class="cursor" title="Eliminar registro" data-toggle="tooltip" data-original-title="Eliminar registro" (click)="eliminarRegVacunado(vacunado)">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center" *ngIf="mostrarBotones">
                    <button (click)="cambiarPagina(-30)" class="btn btn-secondary">
                        <i class="fa fa-backward"></i>&nbsp;
                        Anteriores
                    </button> &nbsp; &nbsp; &nbsp;

                    <button (click)="cambiarPagina(30)" class="btn btn-secondary">
                        Siguientes &nbsp;
                        <i class="fa fa-forward"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>